.WeatherForecast-day {
  margin: 20px 0 0 0;
  text-align: center;
  font-weight: 300;
}

.WeatherForecast-temperatures {
  text-align: center;
  margin-top: 5px;
  font-size: 14px;
  margin-bottom: 10px;
}
.WeatherForecast-temperature-max {
  font-weight: 400;
}

.WeatherForecast-temperature-min {
  font-weight: 200;
  margin-left: 6px;
}

.WeatherIconForecast {
  text-align: center;
}
.WeatherIconImage {
  max-height: 40px;
}

@media screen and (max-width: 600px) {
  .WeatherForecast-day {
    margin: 30px 0 0 0;
  }
}
